<ion-header>
    <ion-navbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <input #name type="text" placeholder="Nome" (focus)="name.dataset.focused=true" (blur)="name.dataset.focused=false">
    <a href="javascript:void(0)" (click)="inserir(name.value)">Add</a>

    <table style="width: 100%">
        <thead>
            <tr>
                <th>id</th>
                <th>Nome</th>
                <th>Criação</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="!lista.length">
                <td colspan="3">Nada adicionado</td>
            </tr>
            <tr *ngFor="let item of lista">
                <td>{{item._id}}</td>
                <td>{{item.Nome}}</td>
                <td>{{item.Data_Criacao | date: 'dd/MM/yyyy HH:mm'}}</td>
                <td>
                    <a href="javascript:void(0)" (click)="deletar(item)">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
</ion-content>